---
layout: list.liquid
pagination:
  data: lists
  size: 1
  alias: listId
permalink: "{{ listId | slugify }}/index.html"
eleventyComputed:
  docTitle: "List - {{ lists[listId].title }}"
---

{% assign list = lists[listId] %}

<h1>List: {{ list.title }}</h1>

<section class="description">
    {%- for line in list.description -%}
    {{ line | renderContent: "md" }}
    {%- endfor -%}
</section>

<section class="list__container">
    {%- if list.isCountdown -%}
    {% assign listItems = list.items | reverse %}
    <p class="text--italic">This list counts down.</p>
    {%- else -%}
    {% assign listItems = list.items %}
    {%- endif -%}

    <ol class="list" {%- if list.isCountdown -%} reversed {%- endif -%}>
    {%- for item in listItems -%}
    {% if list.isCountdown %}
    {% assign itemIndex = forloop.rindex %}
    {% else %}
    {% assign itemIndex = forloop.index %}
    {% endif %}

    <li class="list__item" id="{{ itemIndex }}">
        <div class="list__item__container">
            <div data-words-box data-item-essential>
                <p class="text--primary">
                    <a href="#{{ itemIndex }}" class="anchor-link">{{ item.primary }}</a>
                </p>
                <p class="text--secondary">{{ item.secondary }}</p>
            </div>
            <div data-words-box class="text--additional">
                {{ item.additionalText | renderContent: "md" }}
            </div>
        </div>
    </li>
    {%- endfor -%}
    </ol>
</section>

{% if list.supplements %}
{% for suppList in list.supplements %}

{% assign listIndex = forloop.index %}

{% assign suppListId = suppList.name | slugify %}
<h2 id="{{ suppListId }}"><a href="#{{ suppListId }}" class="anchor-link">{{ suppList.name }}</a></h2>

{%- if suppList.description -%}
<section class="description">
    {%- for line in suppList.description -%}
    {{ line | renderContent: "md" }}
    {%- endfor -%}
</section>
{%- endif -%}

<section class="list__container">
    <ul class="list">
    {%- for item in suppList.items -%}
    {% assign itemIndex = forloop.index %}
    <li class="list__item item-supplemental" id="supp{{ listIndex }}-{{ itemIndex }}" {% if suppList.itemMarker %} style="--supplemental-item-marker: '{{ suppList.itemMarker }} ';"{% endif %}>
        <div class="list__item__container">
            <div data-words-box data-item-essential>
                <p class="text--primary">
                    <a href="#supp{{ listIndex }}-{{ itemIndex }}" class="anchor-link">{{ item.primary }}</a>
                </p>
                <p class="text--secondary">{{ item.secondary }}</p>
            </div>
            <div data-words-box class="text--additional">
                {{ item.additionalText | renderContent: "md" }}
            </div>
        </div>
    </li>
    {%- endfor -%}
    </ul>
</section>

{% endfor %}
{% endif %}

<footer>
    <a href="/lists/">Back to index</a>
</footer>
